requests==2.23.0
pytz==2020.1
pydantic==1.5.1
ipython==7.15.0
uvloop==0.14.0
asyncpg==0.20.1
tortoise-orm==0.16.14
jupyterlab==2.1.4
lxml==4.5.1
yfinance==0.1.54
environs==8.0.0
pandas==1.1.1
websocket-client==0.57.0